@media screen and (max-width:768px) {

    #menu-button {
        font-size: 13px;
        height: 27px;
        left: 2.5vw;
        top: 5vw;
        transform: translateY(30%);
        width: 70px;
        font-weight: 400;
    }

    .menu-item {
        /* display: none; */
        font-size: 4.7vw;
    }

    .mob-page1 {
        display: block;
        position: relative;
        z-index: 2;
    }

    .mob-hero {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100vh;
        justify-content: center;
        align-items: baseline;
        padding: 20px;
    }

    .mob-cont {
        font-size: 10vw;
        color: white;
        /* background-color: aqua; */
    }

    .p1 {
        font-size: 18vw;
    }

    .ms h4,
    .m2 h4,
    .m1 h4 {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
    }

    .mh1-cont {
        width: 120px;
        position: relative;
        height: 180px;
    }

    .ms1-cont {
        background-color: #f4f4f4;
        padding: 40px 5vw;
        padding-bottom: 100px;
    }

    .m1 {
        display: flex;
        /* gap: 10px; */
        justify-content: space-between;
    }

    .ms {
        height: 55vw;
        width: 43vw;
        position: relative;
    }

    .m12 {
        margin-top: 30px;
    }

    .m2 {
        position: relative;
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 110vw;

        margin: 40px auto;
        margin-bottom: 50px;
    }

    .gap {
        height: 70vh;
    }

    .m-text {
        font-size: 7vw;
        /* background-color: antiquewhite; */
        margin: 10px auto;
        width: 90%;
        margin-bottom: 30px;
        text-align: center;
    }

    #page3-text-top {
        margin: 20px 0 40px 0;
    }

    #page3-text-top h2 {
        font-weight: 500 !important;
    }

    .p3-elems {
        /* justify-content: space-between; */
        padding: 0 20px;
    }

    .serv-img {

        display: none;

        margin: 0;
    }

    .p3-elems h1 {
        font-size: 6vw;
        text-align: center;
        margin: 10px 0;
        color: black;
    }

    #text-float {
        margin: 90px 0;
    }

    .float-title {
        font-size: 10vw;
        /* margin: 10PX 0; */
    }

    .float-img {
        width: 50vw;
    }

    .title2 {
        top: 57%;
    }

    .footer {
        padding: 5vw;
        flex-direction: column;
    }

    .footer-col {
        margin: 10px 0;
        margin-top: 30px;
    }

    .footer-col p {
        font-size: 4.5vw;
    }

    .footer-col h4 {
        font-size: 5.6vw;

    }

    .footer-col h2 {
        font-size: 6.3vw;
        margin-bottom: 20px;
    }

    .footer-col h5 {
        font-size: 4vw;
    }

    .footer-bottom {
        margin-top: 80px;
        flex-direction: column;
    }

    .brand {
        margin-top: 50px;
    }

    .social-links {
        width: 100%;
        padding: 0;
        margin-top: 30px;

    }

    .vyu-span {
        margin-left: 2px;
    }

    .social-links a {
        margin: 0;
        margin-left: 0 !important;
        margin-right: 10px;
    }

    .dabba2 {
        display: none;
        z-index: 4;
    }

    .dabba3 {
        display: none;
    }


    /* Dabba css */

}