.work-wrapper{
   
    position: relative;
    z-index: 2;
    margin: auto;
    /* transition: all .3s ease; */
    width: 80vw;
}
.work-inner{
    width: 100%;
     padding: 30px 60px;
    background-color: #f4f4f4;

}
.text-hid{
    overflow: hidden;
     margin: 30px 0;
    padding-top: 30px;
}
.text-hid h1{
    transform: translateY(100%);
}
.work-wrapper h1{
    text-align: center;
    font-size: 50px;
   
}
.gap2{
    height: 85vh;
}
.work-main{
     transition: all .3s ease;
     top: 0vh;

}
.work-down{
top: 10vh!important;
position: relative;
transition: all .3s ease;

}

.work-open{
/* width: 97vw; */
}
.work-cont h2{
    font-size: 35px;
    margin-bottom: 35px;
    cursor: pointer;
    /* margin: 40px; */
}
.work-cont{
    margin: 100px 0;
}
.work-cont h3{
    font-weight: 100!important;
    font-size: 27px;
    margin: 10px 0;
}
.work-back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@media screen  and (max-width:768px){
    .work-wrapper{
        width: 100vw;
    }
    .gap2{
        height: 0;
    }
    .work-inner h1{
        transform: translateY(0);
        font-size: 40px;
    }
    .work-inner{
        padding: 0 4vw;
        padding-bottom: 40px;
    }
    .work-cont{
        margin: 70px 0;
    }
    .work-cont h2{
font-size: 25px;
margin-bottom: 20px;
    }
    .work-cont h3{
font-size: 20px;
    }
}